<section
                                class="elementor-element elementor-element-96308de elementor-section-content-middle main-cta  elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                data-id="96308de" data-element_type="section" id="CTA"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_image&quot;:{&quot;url&quot;:&quot;{{"/img/pattern-green-3.png" | relURL }}&quot;,&quot;id&quot;:656},&quot;background_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;}}">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-element elementor-element-e44e5ef elementor-column elementor-col-50 elementor-top-column"
                                            data-id="e44e5ef" data-element_type="column">
                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-4457dc1 elementor-widget elementor-widget-html"
                                                        data-id="4457dc1" data-element_type="widget"
                                                        data-widget_type="html.default">
                                                        <div class="elementor-widget-container">
                                                            <span class="cta-block cta-headline">Clean Laundry </span>
                                                            <span class="cta-block cta-subhead">
                                                                Picked up, Washed, Folded, and Delivered
                                                                to&nbsp;Your&nbsp;Doorstep.
                                                            </span>
                                                            <span class="cta-block cta-intro">Plans starting at </span>
                                                            <span class="cta-block cta-price">
                                                                <span class="cta-price-curr">$</span>
                                                                <span class="cta-price-dollar">12</span>
                                                                <span class="cta-price-decimal">.</span>
                                                                <span>
                                                                    <span class="cta-price-cents">49</span>
                                                                    <span class="cta-price-term">a week</span>
                                                                </span>
                                                            </span> </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-84ac83e elementor-widget__width-auto elementor-widget elementor-widget-global elementor-global-542 elementor-widget-inline-svg"
                                                        data-id="84ac83e" data-element_type="widget"
                                                        data-settings="{&quot;svg&quot;:{&quot;url&quot;:&quot;{{ "/img/app-store.svg" | relURL }}&quot;,&quot;id&quot;:369},&quot;link&quot;:{&quot;url&quot;:&quot;https:\/\/itunes.apple.com\/us\/app\/cloto\/id1175238344&quot;,&quot;is_external&quot;:&quot;&quot;,&quot;nofollow&quot;:&quot;&quot;},&quot;maintain_ratio&quot;:&quot;yes&quot;}"
                                                        data-widget_type="inline-svg.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-inline-svg-wrapper">
                                                                <a class="elementor-inline-svg"
                                                                    href="https://itunes.apple.com/us/app/cloto/id1175238344"></a>

                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-8869e47 elementor-widget__width-auto elementor-widget elementor-widget-global elementor-global-545 elementor-widget-inline-svg"
                                                        data-id="8869e47" data-element_type="widget"
                                                        data-settings="{&quot;svg&quot;:{&quot;url&quot;:&quot;{{"/img/google-play.svg" | relURL }}&quot;,&quot;id&quot;:1220},&quot;link&quot;:{&quot;url&quot;:&quot;https:\/\/play.google.com\/store\/apps\/details?id=ca.cloto.userclient.android&quot;,&quot;is_external&quot;:&quot;&quot;,&quot;nofollow&quot;:&quot;&quot;},&quot;maintain_ratio&quot;:&quot;yes&quot;}"
                                                        data-widget_type="inline-svg.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-inline-svg-wrapper">
                                                                <a class="elementor-inline-svg"
                                                                    href="https://play.google.com/store/apps/details?id=ca.cloto.userclient.android"></a>

                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-ebcc745 elementor-widget elementor-widget-heading"
                                                        data-id="ebcc745" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <span
                                                                class="elementor-heading-title elementor-size-default">billed
                                                                every 4 weeks | no commitment</span> </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-1072ded elementor-widget elementor-widget-heading"
                                                        data-id="1072ded" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <span
                                                                class="elementor-heading-title elementor-size-default"><a
                                                                    href="https://cloto.ca/plans-and-pricing/">View
                                                                    Plans and Pricing</a></span> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-c1aa932 elementor-column elementor-col-50 elementor-top-column"
                                            data-id="c1aa932" data-element_type="column">
                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-d04ad54 elementor-widget-mobile__width-initial elementor-absolute elementor-invisible elementor-widget elementor-widget-image"
                                                        data-id="d04ad54" data-element_type="widget"
                                                        data-settings="{&quot;_animation&quot;:&quot;slideInUp&quot;,&quot;_animation_delay&quot;:300,&quot;_position&quot;:&quot;absolute&quot;}"
                                                        data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-image">
                                                                <img src="{{"/img/cloto-android-o4wt3c0pawpglqqvmchgm3kbinnytzvhe0zgo7gbui.png" | relURL }}"
                                                                    title="cloto-android" alt="cloto-android" /> </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-285e785 elementor-widget-mobile__width-initial elementor-absolute elementor-invisible elementor-widget elementor-widget-image"
                                                        data-id="285e785" data-element_type="widget"
                                                        data-settings="{&quot;_animation&quot;:&quot;slideInUp&quot;,&quot;_animation_delay&quot;:800,&quot;_position&quot;:&quot;absolute&quot;}"
                                                        data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-image">
                                                                <img src="{{"/img/loto-ios-o4wt144f5zo36vyxkvy685q50wlrnq2ar1j6voqsje.png" | relURL }}"
                                                                    title="loto-ios" alt="loto-ios" /> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>