<section
                                class="elementor-element elementor-element-81e029a elementor-section-height-min-height homepage-hero elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
                                data-id="81e029a" data-element_type="section"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_image&quot;:{&quot;url&quot;:&quot; '{{"/img/laundry-unhampered-desktop.jpg" | relURL }}' &quot;,&quot;id&quot;:325},&quot;background_image_tablet&quot;:{&quot;url&quot;:&quot;{{"/img/laundry-unhampered-tablet.jpg" | relURL }}&quot;,&quot;id&quot;:328},&quot;background_image_mobile&quot;:{&quot;url&quot;:&quot;{{"/img/header-mobile-crop1-1.jpg" | relURL }}&quot;,&quot;id&quot;:322}}">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-element elementor-element-2087a03 elementor-column elementor-col-100 elementor-top-column"
                                            data-id="2087a03" data-element_type="column"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-fdca2db elementor-widget elementor-widget-heading"
                                                        data-id="fdca2db" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h1 class="elementor-heading-title elementor-size-default">
                                                                Life Unhampered</h1>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-d13ffd7 elementor-headline--style-highlight elementor-widget elementor-widget-animated-headline"
                                                        data-id="d13ffd7" data-element_type="widget"
                                                        data-settings="{&quot;marker&quot;:&quot;underline&quot;,&quot;highlighted_text&quot;:&quot;Laundry&quot;,&quot;headline_style&quot;:&quot;highlight&quot;}"
                                                        data-widget_type="animated-headline.default">
                                                        <div class="elementor-widget-container">
                                                            <h2 class="elementor-headline">
                                                                <span
                                                                    class="elementor-headline-plain-text elementor-headline-text-wrapper">You've
                                                                    Got Better Things To Do Than</span>
                                                                <span
                                                                    class="elementor-headline-dynamic-wrapper elementor-headline-text-wrapper"></span>
                                                            </h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-f6fd83c ee-button-group-gap-extended ee-button-group-stack-tablet elementor-widget elementor-widget-button-group"
                                                        data-id="f6fd83c" data-element_type="widget"
                                                        data-settings="{&quot;trigger&quot;:&quot;hover&quot;,&quot;position&quot;:&quot;bottom&quot;,&quot;delay_in&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;delay_out&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;duration&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}"
                                                        data-widget_type="button-group.default">
                                                        <div class="elementor-widget-container">
                                                            <ul class="ee-button-group">
                                                                <li
                                                                    class="ee-button-gap elementor-repeater-item-daa431d">
                                                                    <a class="ee-button-wrapper"
                                                                        href="#elementor-action%3Aaction%3Dpopup%3Aopen%20settings%3DeyJpZCI6IjQzNyIsInRvZ2dsZSI6ZmFsc2V9">

                                                                        <span
                                                                            class="ee-button ee-button-link ee-size-lg"
                                                                            data-label="Watch the Video">
                                                                            <span class="ee-button-content-wrapper">

                                                                                <span
                                                                                    class="ee-button-icon ee-icon--left">
                                                                                    <i class="fa fa-play-circle-o"></i>
                                                                                </span>

                                                                                <span class="ee-button-text">
                                                                                    Watch the Video </span>


                                                                            </span>
                                                                        </span>

                                                                    </a>
                                                                </li>
                                                                <li
                                                                    class="ee-button-gap elementor-repeater-item-ca96815">
                                                                    <a class="ee-button-wrapper" href="#CTA">

                                                                        <span
                                                                            class="ee-button ee-button-link ee-size-lg"
                                                                            data-label="Get Started">
                                                                            <span class="ee-button-content-wrapper">

                                                                                <span
                                                                                    class="ee-button-icon ee-icon--left">
                                                                                    <i class="fa fa-truck"></i>
                                                                                </span>

                                                                                <span class="ee-button-text">
                                                                                    Get Started </span>


                                                                            </span>
                                                                        </span>

                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>