<section
                                class="elementor-element elementor-element-9d2b99c elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                data-id="9d2b99c" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-element elementor-element-1b5b956 elementor-column elementor-col-100 elementor-top-column"
                                            data-id="1b5b956" data-element_type="column"
                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                <div class="elementor-background-overlay"></div>
                                                <div class="elementor-widget-wrap">
                                                    <section
                                                        class="elementor-element elementor-element-5c29586 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                                        data-id="5c29586" data-element_type="section">
                                                        <div class="elementor-container elementor-column-gap-default">
                                                            <div class="elementor-row">
                                                                <div class="elementor-element elementor-element-2bdab29 elementor-column elementor-col-50 elementor-inner-column"
                                                                    data-id="2bdab29" data-element_type="column">
                                                                    <div
                                                                        class="elementor-column-wrap  elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div class="elementor-element elementor-element-c8d4668 elementor-widget__width-auto elementor-widget elementor-widget-heading"
                                                                                data-id="c8d4668"
                                                                                data-element_type="widget"
                                                                                data-widget_type="heading.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <span
                                                                                        class="elementor-heading-title elementor-size-default"><span
                                                                                            class="cta-block cta-headline">Clean
                                                                                            Laundry </span>
                                                                                        <span
                                                                                            class="cta-block cta-subhead">
                                                                                            Picked up, Washed, Folded,
                                                                                            and Delivered to Your
                                                                                            Doorstep.
                                                                                        </span></span> </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-c124d07 elementor-column elementor-col-50 elementor-inner-column"
                                                                    data-id="c124d07" data-element_type="column">
                                                                    <div
                                                                        class="elementor-column-wrap  elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div class="elementor-element elementor-element-255468d elementor-button-success elementor-align-right elementor-widget__width-auto elementor-mobile-align-center elementor-widget elementor-widget-button"
                                                                                data-id="255468d"
                                                                                data-element_type="widget"
                                                                                id="GetStarted"
                                                                                data-widget_type="button.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div
                                                                                        class="elementor-button-wrapper">
                                                                                        <a href="#CTA"
                                                                                            class="elementor-button-link elementor-button elementor-size-md"
                                                                                            role="button">
                                                                                            <span
                                                                                                class="elementor-button-content-wrapper">
                                                                                                <span
                                                                                                    class="elementor-button-text">Get
                                                                                                    Started</span>
                                                                                            </span>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="elementor-element elementor-element-9a25e1e elementor-button-info elementor-align-right elementor-widget__width-auto elementor-mobile-align-center elementor-widget elementor-widget-button"
                                                                                data-id="9a25e1e"
                                                                                data-element_type="widget"
                                                                                data-widget_type="button.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div
                                                                                        class="elementor-button-wrapper">
                                                                                        <a href="/work/"
                                                                                            class="elementor-button-link elementor-button elementor-size-md"
                                                                                            role="button">
                                                                                            <span
                                                                                                class="elementor-button-content-wrapper">
                                                                                                <span
                                                                                                    class="elementor-button-text">Learn
                                                                                                    More</span>
                                                                                            </span>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>