<div data-elementor-type="footer" data-elementor-id="74" class="elementor elementor-74 elementor-location-footer"
    data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section
                class="elementor-element elementor-element-7eb39d0 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                data-id="7eb39d0" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;}}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-element elementor-element-e19d07a elementor-column elementor-col-100 elementor-top-column"
                            data-id="e19d07a" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-d001990 elementor-button-success elementor-widget__width-auto elementor-widget elementor-widget-button"
                                        data-id="d001990" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a href="#elementor-action%3Aaction%3Dpopup%3Aopen%20settings%3DeyJpZCI6IjEwMTEiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D"
                                                    class="elementor-button-link elementor-button elementor-size-xs"
                                                    role="button">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">Keep me
                                                            posted</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-c2c7419 elementor-widget__width-auto elementor-widget elementor-widget-heading"
                                        data-id="c2c7419" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <span class="elementor-heading-title elementor-size-default">about
                                                free giveaways, promos, and alerts</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                class="elementor-element elementor-element-171adb5a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                data-id="171adb5a" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;}}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-element elementor-element-7dd28321 elementor-column elementor-col-50 elementor-top-column"
                            data-id="7dd28321" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-6c787b86 elementor-widget elementor-widget-heading"
                                        data-id="6c787b86" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default">
                                                Contact</h4>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-fa80b76 lower-footer elementor-widget elementor-widget-text-editor"
                                        data-id="fa80b76" data-element_type="widget"
                                        data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix">
                                                <p>Business Inquiries:<br /><a
                                                        href="mailto:info@cloto.ca">info@cloto.ca</a></p>
                                                <p>Customer Support:<br /><a
                                                        href="mailto:customercare@cloto.ca">customercare@cloto.ca</a>
                                                </p>
                                                <p>Help Desk: <br />1 (855) 286-4336<br />M-F, 9am-5pm EST
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-3a49f3d0 elementor-column elementor-col-50 elementor-top-column"
                            data-id="3a49f3d0" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <section
                                        class="elementor-element elementor-element-2002b2d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                        data-id="2002b2d" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="elementor-element elementor-element-959aa71 elementor-column elementor-col-50 elementor-inner-column"
                                                    data-id="959aa71" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-4ddf9b59 elementor-widget elementor-widget-heading"
                                                                data-id="4ddf9b59" data-element_type="widget"
                                                                data-widget_type="heading.default">
                                                                <!-- <div class="elementor-widget-container">
                                                                            <h4
                                                                                class="elementor-heading-title elementor-size-default">
                                                                                Get Started</h4>
                                                                        </div> -->
                                                            </div>
                                                            <!-- <div class="elementor-element elementor-element-53bbea64 elementor-align-left elementor-mobile-align-right elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list"
                                                                        data-id="53bbea64"
                                                                        data-element_type="widget"
                                                                        data-widget_type="icon-list.default">
                                                                        <div class="elementor-widget-container">
                                                                            <ul class="elementor-icon-list-items">
                                                                                <li
                                                                                    class="elementor-icon-list-item">
                                                                                    <a
                                                                                        href="#elementor-action%3Aaction%3Dpopup%3Aopen%20settings%3DeyJpZCI6IjEzNTIiLCJ0b2dnbGUiOmZhbHNlfQ%3D%3D">
                                                                                        <span
                                                                                            class="elementor-icon-list-text">Commercial
                                                                                            Pricing</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li
                                                                                    class="elementor-icon-list-item">
                                                                                    <a
                                                                                        href="https://cloto.ca/plans-and-pricing/dry-cleaning-services/">
                                                                                        <span
                                                                                            class="elementor-icon-list-text">Dry
                                                                                            Cleaning Services</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li
                                                                                    class="elementor-icon-list-item">
                                                                                    <a href="https://cloto.ca/faq/">
                                                                                        <span
                                                                                            class="elementor-icon-list-text">FAQ</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li
                                                                                    class="elementor-icon-list-item">
                                                                                    <a
                                                                                        href="https://cloto.ca/cloto-inc-terms-of-service/">
                                                                                        <span
                                                                                            class="elementor-icon-list-text">Terms
                                                                                            of Service</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li
                                                                                    class="elementor-icon-list-item">
                                                                                    <a
                                                                                        href="https://cloto.ca/privacy-policy/">
                                                                                        <span
                                                                                            class="elementor-icon-list-text">Privacy
                                                                                            Policy</span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-0c1aa2c footer-store-column elementor-column elementor-col-50 elementor-inner-column"
                                                    data-id="0c1aa2c" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-62b7fa4 elementor-widget elementor-widget-heading"
                                                                data-id="62b7fa4" data-element_type="widget"
                                                                data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h4
                                                                        class="elementor-heading-title elementor-size-default">
                                                                        Keep In Touch</h4>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-5adc870d elementor-shape-square elementor-widget elementor-widget-social-icons"
                                                                data-id="5adc870d" data-element_type="widget"
                                                                data-widget_type="social-icons.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-social-icons-wrapper">
                                                                        <a href="https://twitter.com/ClotoCanada"
                                                                            class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-dc10550"
                                                                            target="_blank">
                                                                            <span
                                                                                class="elementor-screen-only">Twitter</span>
                                                                            <i class="fa fa-twitter"></i>
                                                                        </a>
                                                                        <a href="https://www.facebook.com/clotoca"
                                                                            class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-0267196"
                                                                            target="_blank">
                                                                            <span
                                                                                class="elementor-screen-only">Facebook</span>
                                                                            <i class="fa fa-facebook"></i>
                                                                        </a>
                                                                        <a href="https://www.instagram.com/clotocanada/"
                                                                            class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-0e260c9"
                                                                            target="_blank">
                                                                            <span
                                                                                class="elementor-screen-only">Instagram</span>
                                                                            <i class="fa fa-instagram"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-7381cb2 elementor-widget elementor-widget-heading"
                                                                data-id="7381cb2" data-element_type="widget"
                                                                data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h4
                                                                        class="elementor-heading-title elementor-size-default">
                                                                        Get the App</h4>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-06bdf6f elementor-widget__width-auto elementor-widget elementor-widget-global elementor-global-542 elementor-widget-inline-svg"
                                                                data-id="06bdf6f" data-element_type="widget"
                                                                data-settings="{&quot;svg&quot;:{&quot;url&quot;:&quot;{{ "/img/app-store.svg" | relURL }}&quot;,&quot;id&quot;:369},&quot;link&quot;:{&quot;url&quot;:&quot;https:\/\/itunes.apple.com\/us\/app\/cloto\/id1175238344&quot;,&quot;is_external&quot;:&quot;&quot;,&quot;nofollow&quot;:&quot;&quot;},&quot;maintain_ratio&quot;:&quot;yes&quot;}"
                                                                data-widget_type="inline-svg.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-inline-svg-wrapper">
                                                                        <a class="elementor-inline-svg"
                                                                            href="https://itunes.apple.com/us/app/cloto/id1175238344"></a>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-e8c40e6 elementor-widget__width-auto elementor-widget elementor-widget-global elementor-global-545 elementor-widget-inline-svg"
                                                                data-id="e8c40e6" data-element_type="widget"
                                                                data-settings="{&quot;svg&quot;:{&quot;url&quot;:&quot;{{"/img/google-play.svg" | relURL }}&quot;,&quot;id&quot;:1220},&quot;link&quot;:{&quot;url&quot;:&quot;https:\/\/play.google.com\/store\/apps\/details?id=ca.cloto.userclient.android&quot;,&quot;is_external&quot;:&quot;&quot;,&quot;nofollow&quot;:&quot;&quot;},&quot;maintain_ratio&quot;:&quot;yes&quot;}"
                                                                data-widget_type="inline-svg.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-inline-svg-wrapper">
                                                                        <a class="elementor-inline-svg"
                                                                            href="https://play.google.com/store/apps/details?id=ca.cloto.userclient.android"></a>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                class="elementor-element elementor-element-df5b7a6 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                data-id="df5b7a6" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;}}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-element elementor-element-b390e4e elementor-column elementor-col-100 elementor-top-column"
                            data-id="b390e4e" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-bb98aa9 elementor-headline--style-highlight elementor-widget elementor-widget-animated-headline"
                                        data-id="bb98aa9" data-element_type="widget"
                                        data-settings="{&quot;marker&quot;:&quot;underline_zigzag&quot;,&quot;highlighted_text&quot;:&quot;Cloto&quot;,&quot;headline_style&quot;:&quot;highlight&quot;}"
                                        data-widget_type="animated-headline.default">
                                        <div class="elementor-widget-container">
                                            <span class="elementor-headline">
                                                <span
                                                    class="elementor-headline-plain-text elementor-headline-text-wrapper">
                                                    Life unhampered with</span>
                                                <span
                                                    class="elementor-headline-dynamic-wrapper elementor-headline-text-wrapper"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                class="elementor-element elementor-element-52d3d41 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                data-id="52d3d41" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;}}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-element elementor-element-60909e7 elementor-column elementor-col-100 elementor-top-column"
                            data-id="60909e7" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-ccf0ee1 elementor-widget elementor-widget-heading"
                                        data-id="ccf0ee1" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <span class="elementor-heading-title elementor-size-default">©2019
                                                Cloto Inc</span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>