<header id="site-header" class="clr" data-height="74" itemscope="itemscope"
itemtype="http://schema.org/WPHeader">

<div data-elementor-type="header" data-elementor-id="20"
    class="elementor elementor-20 elementor-location-header" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section
                class="elementor-element elementor-element-cc1bcbc top-bar elementor-hidden-phone elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                data-id="cc1bcbc" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;}}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-element elementor-element-d802c57 cta-column elementor-column elementor-col-100 elementor-top-column"
                            data-id="d802c57" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-f442d2f elementor-widget__width-auto elementor-widget elementor-widget-heading"
                                        data-id="f442d2f" data-element_type="widget"
                                        data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <span
                                                class="elementor-heading-title elementor-size-default">Get
                                                the App!</span> </div>
                                    </div>
                                    <div class="elementor-element elementor-element-b8da079 elementor-widget__width-auto elementor-widget elementor-widget-global elementor-global-542 elementor-widget-inline-svg"
                                        data-id="b8da079" data-element_type="widget"
                                        data-settings="{&quot;svg&quot;:{&quot;url&quot;:&quot;{{ "/img/app-store.svg" | relURL }}&quot;,&quot;id&quot;:369},&quot;link&quot;:{&quot;url&quot;:&quot;https:\/\/itunes.apple.com\/us\/app\/cloto\/id1175238344&quot;,&quot;is_external&quot;:&quot;&quot;,&quot;nofollow&quot;:&quot;&quot;},&quot;maintain_ratio&quot;:&quot;yes&quot;}"
                                        data-widget_type="inline-svg.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-inline-svg-wrapper">
                                                <a class="elementor-inline-svg"
                                                    href="https://itunes.apple.com/us/app/cloto/id1175238344"></a>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-b77ae15 elementor-widget__width-auto elementor-widget elementor-widget-global elementor-global-545 elementor-widget-inline-svg"
                                        data-id="b77ae15" data-element_type="widget"
                                        data-settings="{&quot;svg&quot;:{&quot;url&quot;:&quot;{{"/img/google-play.svg" | relURL }}&quot;,&quot;id&quot;:1220},&quot;link&quot;:{&quot;url&quot;:&quot;https:\/\/play.google.com\/store\/apps\/details?id=ca.cloto.userclient.android&quot;,&quot;is_external&quot;:&quot;&quot;,&quot;nofollow&quot;:&quot;&quot;},&quot;maintain_ratio&quot;:&quot;yes&quot;}"
                                        data-widget_type="inline-svg.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-inline-svg-wrapper">
                                                <a class="elementor-inline-svg"
                                                    href="https://play.google.com/store/apps/details?id=ca.cloto.userclient.android"></a>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section
                class="elementor-element elementor-element-76bbc87 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                data-id="76bbc87" data-element_type="section"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;sticky_enable&quot;:&quot;yes&quot;,&quot;sticky_parent&quot;:&quot;body&quot;,&quot;background_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;sticky_unstick_on&quot;:&quot;mobile&quot;,&quot;sticky_follow_scroll&quot;:&quot;yes&quot;,&quot;sticky_offset&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:0,&quot;sizes&quot;:[]},&quot;sticky_offset_bottom&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:0,&quot;sizes&quot;:[]}}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-element elementor-element-102a63e elementor-column elementor-col-33 elementor-top-column"
                            data-id="102a63e" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-45935e1 header-logo elementor-widget elementor-widget-image"
                                        data-id="45935e1" data-element_type="widget"
                                        data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                                <a data-elementor-open-lightbox=""
                                                    href="/">
                                                    <img src="{{"/img/Cloto-Logo-2.svg" | relURL }}"
                                                        title="Cloto Logo" alt="Cloto Logo" /> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-8158b6d elementor-column elementor-col-66 elementor-top-column"
                            data-id="8158b6d" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-69da0ff elementor-nav-menu__align-right elementor-nav-menu--indicator-classic elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu"
                                        data-id="69da0ff" data-element_type="widget"
                                        data-settings="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;toggle&quot;:&quot;burger&quot;}"
                                        data-widget_type="nav-menu.default">
                                        <div class="elementor-widget-container">
                                            <nav role="navigation"
                                                class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-text e--animation-none">
                                                <ul id="menu-1-69da0ff" class="elementor-nav-menu">
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-339">
                                                        <a href="/work/"
                                                             class="elementor-item">How it Works</a></li>
                                                    <!-- <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-338">
                                                        <a href="https://cloto.ca/plans-and-pricing/"
                                                            class="elementor-item">Plans and Pricing</a>
                                                    </li>
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-257">
                                                        <a href="https://cloto.ca/blog/"
                                                            class="elementor-item">Blog</a></li>
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-360">
                                                        <a href="https://cloto.ca/faq/"
                                                            class="elementor-item">FAQ</a></li>  -->
                                                </ul>
                                            </nav>
                                            <div class="elementor-menu-toggle" role="button"
                                                tabindex="0" aria-label="Menu Toggle"
                                                aria-expanded="false">
                                                <i class="eicon-menu-bar" aria-hidden="true"></i>
                                                <span class="elementor-screen-only">Menu</span>
                                            </div>
                                            <nav class="elementor-nav-menu--dropdown elementor-nav-menu__container"
                                                role="navigation" aria-hidden="true">
                                                <ul id="menu-2-69da0ff" class="elementor-nav-menu">
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-339">
                                                        <a href="/work/"
                                                            class="elementor-item">How it Works</a></li>
                                                    <!-- <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-338">
                                                        <a href="https://cloto.ca/plans-and-pricing/"
                                                            class="elementor-item">Plans and Pricing</a>
                                                    </li>
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-257">
                                                        <a href="https://cloto.ca/blog/"
                                                            class="elementor-item">Blog</a></li>
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-360">
                                                        <a href="https://cloto.ca/faq/"
                                                            class="elementor-item">FAQ</a></li> -->
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

</header><!-- #site-header -->

