<section
                                class="elementor-element elementor-element-aeeeffc elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                data-id="aeeeffc" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-element elementor-element-1766b8f elementor-column elementor-col-100 elementor-top-column"
                                            data-id="1766b8f" data-element_type="column">
                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-1b44664 elementor-widget elementor-widget-heading"
                                                        data-id="1b44664" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2 class="elementor-heading-title elementor-size-default">
                                                                How It Works</h2>
                                                        </div>
                                                    </div>
                                                    <section
                                                        class="elementor-element elementor-element-501c7eb elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                                        data-id="501c7eb" data-element_type="section">
                                                        <div class="elementor-container elementor-column-gap-default">
                                                            <div class="elementor-row">
                                                                <div class="elementor-element elementor-element-1793793 elementor-column elementor-col-33 elementor-inner-column"
                                                                    data-id="1793793" data-element_type="column">
                                                                    <div
                                                                        class="elementor-column-wrap  elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div class="elementor-element elementor-element-538f837 elementor-position-top elementor-vertical-align-top elementor-invisible elementor-widget elementor-widget-image-box"
                                                                                data-id="538f837"
                                                                                data-element_type="widget"
                                                                                data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}"
                                                                                data-widget_type="image-box.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div
                                                                                        class="elementor-image-box-wrapper">
                                                                                        <figure
                                                                                            class="elementor-image-box-img">
                                                                                            <img width="401"
                                                                                                height="400"
                                                                                                src="{{"/img/Download.png" | relURL }}"
                                                                                                class="attachment-full size-full"
                                                                                                alt=""
                                                                                                srcset='{{"/img/Download.png" | relURL }} 401w,
                                                                                                 {{"/img/Download-150x150.png" | relURL }} 150w,
                                                                                                  {{"/img/Download-300x300.png " | relURL }} 300w'
                                                                                                sizes="(max-width: 401px) 100vw, 401px" />
                                                                                        </figure>
                                                                                        <div
                                                                                            class="elementor-image-box-content">
                                                                                            <h3
                                                                                                class="elementor-image-box-title">
                                                                                                Download the App</h3>
                                                                                            <p
                                                                                                class="elementor-image-box-description">
                                                                                                Create an account with
                                                                                                your email address,
                                                                                                phone number, and
                                                                                                location. Then select a
                                                                                                laundry plan that works
                                                                                                for you.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-b7c8bd7 elementor-column elementor-col-33 elementor-inner-column"
                                                                    data-id="b7c8bd7" data-element_type="column">
                                                                    <div
                                                                        class="elementor-column-wrap  elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div class="elementor-element elementor-element-66809f7 elementor-position-top elementor-vertical-align-top elementor-invisible elementor-widget elementor-widget-image-box"
                                                                                data-id="66809f7"
                                                                                data-element_type="widget"
                                                                                data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:400}"
                                                                                data-widget_type="image-box.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div
                                                                                        class="elementor-image-box-wrapper">
                                                                                        <figure
                                                                                            class="elementor-image-box-img">
                                                                                            <img width="801"
                                                                                                height="801"
                                                                                                src="{{"/img/Schedule-1.png" | relURL }}"
                                                                                                class="attachment-full size-full"
                                                                                                alt=""
                                                                                                srcset='{{"/img/Schedule-1.png" | relURL }} 801w,
                                                                                                 {{"/img/Schedule-1-150x150.png" | relURL }} 150w,
                                                                                                  {{"/img/Schedule-1-300x300.png" | relURL }} 300w,
                                                                                                   {{"/img/Schedule-1-768x768.png" | relURL }} 768w'
                                                                                                sizes="(max-width: 801px) 100vw, 801px" />
                                                                                        </figure>
                                                                                        <div
                                                                                            class="elementor-image-box-content">
                                                                                            <h3
                                                                                                class="elementor-image-box-title">
                                                                                                Schedule a Pickup</h3>
                                                                                            <p
                                                                                                class="elementor-image-box-description">
                                                                                                Fill the Clo-Totes or
                                                                                                Clo-Bags with dirty
                                                                                                laundry or dry cleaning
                                                                                                and confirm your pickup.
                                                                                                We'll collect them on
                                                                                                your area's laundry day.
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-7677136 elementor-column elementor-col-33 elementor-inner-column"
                                                                    data-id="7677136" data-element_type="column">
                                                                    <div
                                                                        class="elementor-column-wrap  elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div class="elementor-element elementor-element-6a77892 elementor-position-top elementor-vertical-align-top elementor-invisible elementor-widget elementor-widget-image-box"
                                                                                data-id="6a77892"
                                                                                data-element_type="widget"
                                                                                data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:800}"
                                                                                data-widget_type="image-box.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div
                                                                                        class="elementor-image-box-wrapper">
                                                                                        <figure
                                                                                            class="elementor-image-box-img">
                                                                                            <img width="801"
                                                                                                height="800"
                                                                                                src="{{"/img /Relax-1.png" | relURL }}"
                                                                                                class="attachment-full size-full"
                                                                                                alt=""
                                                                                                srcset='{{"/img/Relax-1.png" | relURL }} 801w,
                                                                                                 {{"/img/Relax-1-150x150.png" | relURL }} 150w,
                                                                                                  {{"/img/Relax-1-300x300.png" | relURL }} 300w,
                                                                                                   {{"/img/Relax-1-768x767.png" | relURL }} 768w'
                                                                                                sizes="(max-width: 801px) 100vw, 801px" />
                                                                                        </figure>
                                                                                        <div
                                                                                            class="elementor-image-box-content">
                                                                                            <h3
                                                                                                class="elementor-image-box-title">
                                                                                                Laundry Day, Done.</h3>
                                                                                            <p
                                                                                                class="elementor-image-box-description">
                                                                                                Sit back and relax. Your
                                                                                                clean laundry delivered
                                                                                                in 2 days, guaranteed.
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>