<section
                                class="elementor-element elementor-element-32da244 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                data-id="32da244" data-element_type="section"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;}}">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-element elementor-element-91fd820 elementor-column elementor-col-100 elementor-top-column"
                                            data-id="91fd820" data-element_type="column">
                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-e603752 elementor-arrows-yes elementor-pagination-type-bullets elementor-review--has-separator elementor--star-style-star_fontawesome elementor-widget elementor-widget-reviews"
                                                        data-id="e603752" data-element_type="widget"
                                                        data-settings="{&quot;slides_per_view&quot;:&quot;3&quot;,&quot;slides_to_scroll&quot;:&quot;1&quot;,&quot;space_between&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:30,&quot;sizes&quot;:[]},&quot;show_arrows&quot;:&quot;yes&quot;,&quot;pagination&quot;:&quot;bullets&quot;,&quot;speed&quot;:500,&quot;autoplay&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;loop&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;space_between_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;space_between_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]}}"
                                                        data-widget_type="reviews.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-swiper">
                                                                <div class="elementor-main-swiper swiper-container">
                                                                    <div class="swiper-wrapper">
                                                                        <div class="swiper-slide">
                                                                            <div
                                                                                class="elementor-testimonial elementor-repeater-item-43b737d">
                                                                                <a class="elementor-testimonial__header"
                                                                                    href="https://goo.gl/maps/zCf5QfNFP8n">
                                                                                    <div
                                                                                        class="elementor-testimonial__image">
                                                                                        <img src="{{"/img/woman-holding-clothes-in-hands-picture-id467539530.jpg" | relURL }}"
                                                                                            alt="Reema E">
                                                                                    </div>
                                                                                    <cite
                                                                                        class="elementor-testimonial__cite"><span
                                                                                            class="elementor-testimonial__name">Reema
                                                                                            E</span>
                                                                                        <div
                                                                                            class="elementor-star-rating">
                                                                                            <i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i>
                                                                                        </div>
                                                                                    </cite>
                                                                                    <div
                                                                                        class="elementor-testimonial__icon elementor-icon elementor-icon-google-plus">
                                                                                        <i class="fa fa-google-plus"
                                                                                            aria-hidden="true"></i><span
                                                                                            class="elementor-screen-only">Read
                                                                                            More</span></div>
                                                                                </a>
                                                                                <div
                                                                                    class="elementor-testimonial__content">
                                                                                    <div
                                                                                        class="elementor-testimonial__text">
                                                                                        This every mom’s dream. I’ve
                                                                                        spent too many hours on laundry
                                                                                        when I’d rather be doing other
                                                                                        things.<strong> I literally put
                                                                                            the dirty laundry out on my
                                                                                            doorstep and it comes back
                                                                                            clean and folded.</strong>
                                                                                        Love it. So thankful a service
                                                                                        like this exists. </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="swiper-slide">
                                                                            <div
                                                                                class="elementor-testimonial elementor-repeater-item-ca98fa1">
                                                                                <a class="elementor-testimonial__header"
                                                                                    href="https://www.facebook.com/brittney.lebel/posts/10211757858216151">
                                                                                    <div
                                                                                        class="elementor-testimonial__image">
                                                                                        <img src="{{"/img/18056906_10208067574961376_776969987460293873_n.jpg" | relURL }}"
                                                                                            alt="Brittney E">
                                                                                    </div>
                                                                                    <cite
                                                                                        class="elementor-testimonial__cite"><span
                                                                                            class="elementor-testimonial__name">Brittney
                                                                                            E</span>
                                                                                        <div
                                                                                            class="elementor-star-rating">
                                                                                            <i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i>
                                                                                        </div>
                                                                                    </cite>
                                                                                    <div
                                                                                        class="elementor-testimonial__icon elementor-icon elementor-icon-facebook">
                                                                                        <i class="fa fa-facebook"
                                                                                            aria-hidden="true"></i><span
                                                                                            class="elementor-screen-only">Read
                                                                                            More</span></div>
                                                                                </a>
                                                                                <div
                                                                                    class="elementor-testimonial__content">
                                                                                    <div
                                                                                        class="elementor-testimonial__text">
                                                                                        So happy with our Cloto
                                                                                        experience so far! All the
                                                                                        clothes come to our home, clean
                                                                                        and folded beautifully.
                                                                                        <strong>It’s really nice to not
                                                                                            have to fold all the small
                                                                                            things that comes with
                                                                                            having young
                                                                                            children</strong>. I truly
                                                                                        believe it makes my days easier
                                                                                        not having to worry about all
                                                                                        the laundry that accumulates day
                                                                                        to day! </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="swiper-slide">
                                                                            <div
                                                                                class="elementor-testimonial elementor-repeater-item-f16f026">
                                                                                <a class="elementor-testimonial__header"
                                                                                    href="https://www.facebook.com/darren.lacy.1/posts/10156456226121550:0">
                                                                                    <div
                                                                                        class="elementor-testimonial__image">
                                                                                        <img src="{{"/img/dad-with-daughter-at-home-picture-id956005062.jpg" | relURL }}"
                                                                                            alt="Darren L">
                                                                                    </div>
                                                                                    <cite
                                                                                        class="elementor-testimonial__cite"><span
                                                                                            class="elementor-testimonial__name">Darren
                                                                                            L</span>
                                                                                        <div
                                                                                            class="elementor-star-rating">
                                                                                            <i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i>
                                                                                        </div>
                                                                                    </cite>
                                                                                    <div
                                                                                        class="elementor-testimonial__icon elementor-icon elementor-icon-facebook">
                                                                                        <i class="fa fa-facebook"
                                                                                            aria-hidden="true"></i><span
                                                                                            class="elementor-screen-only">Read
                                                                                            More</span></div>
                                                                                </a>
                                                                                <div
                                                                                    class="elementor-testimonial__content">
                                                                                    <div
                                                                                        class="elementor-testimonial__text">
                                                                                        Cloto is the greatest start-up
                                                                                        ever. I have a large family of 7
                                                                                        people and we used to run the
                                                                                        washing machine and dryer twice
                                                                                        a day minimum, then the
                                                                                        nightmare of folding the
                                                                                        clothes. I'm saving money on
                                                                                        time and detergent and dryer
                                                                                        sheets and machine wear and
                                                                                        tear. <strong>If you value your
                                                                                            time and money there isn't a
                                                                                            better solution out there
                                                                                            for you</strong>. </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="swiper-slide">
                                                                            <div
                                                                                class="elementor-testimonial elementor-repeater-item-90e5219">
                                                                                <a class="elementor-testimonial__header"
                                                                                    href="https://www.facebook.com/sharon.barr.965/posts/10155855338126016">
                                                                                    <div
                                                                                        class="elementor-testimonial__image">
                                                                                        <img src="{{"/img/50917568_10155952151676016_7669549677724827648_n.jpg" | relURL }}"
                                                                                            alt="Sharon B">
                                                                                    </div>
                                                                                    <cite
                                                                                        class="elementor-testimonial__cite"><span
                                                                                            class="elementor-testimonial__name">Sharon
                                                                                            B</span>
                                                                                        <div
                                                                                            class="elementor-star-rating">
                                                                                            <i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i>
                                                                                        </div>
                                                                                    </cite>
                                                                                    <div
                                                                                        class="elementor-testimonial__icon elementor-icon elementor-icon-facebook">
                                                                                        <i class="fa fa-facebook"
                                                                                            aria-hidden="true"></i><span
                                                                                            class="elementor-screen-only">Read
                                                                                            More</span></div>
                                                                                </a>
                                                                                <div
                                                                                    class="elementor-testimonial__content">
                                                                                    <div
                                                                                        class="elementor-testimonial__text">
                                                                                        Once I had my third child I was
                                                                                        not able to handle it all.
                                                                                        <strong>As a working mom I
                                                                                            depend on Cloto to give me
                                                                                            my time back to spend with
                                                                                            my family</strong> and
                                                                                        decrease my stress over the
                                                                                        mundane things in life like
                                                                                        laundry. Thank you, Cloto, for
                                                                                        helping us get one step closer
                                                                                        to a work life balance! </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="swiper-slide">
                                                                            <div
                                                                                class="elementor-testimonial elementor-repeater-item-e1d19fd">
                                                                                <a class="elementor-testimonial__header"
                                                                                    href="https://goo.gl/maps/VyobVAn8opp">
                                                                                    <div
                                                                                        class="elementor-testimonial__image">
                                                                                        <img src="{{"/img/messy-room-with-scattered-clothes-on-the-armchair-picture-id1067369568.jpg" | relURL }}"
                                                                                            alt="Nabila K">
                                                                                    </div>
                                                                                    <cite
                                                                                        class="elementor-testimonial__cite"><span
                                                                                            class="elementor-testimonial__name">Nabila
                                                                                            K</span>
                                                                                        <div
                                                                                            class="elementor-star-rating">
                                                                                            <i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i><i
                                                                                                class="elementor-star-full">&#xE934;</i>
                                                                                        </div>
                                                                                    </cite>
                                                                                    <div
                                                                                        class="elementor-testimonial__icon elementor-icon elementor-icon-google-plus">
                                                                                        <i class="fa fa-google-plus"
                                                                                            aria-hidden="true"></i><span
                                                                                            class="elementor-screen-only">Read
                                                                                            More</span></div>
                                                                                </a>
                                                                                <div
                                                                                    class="elementor-testimonial__content">
                                                                                    <div
                                                                                        class="elementor-testimonial__text">
                                                                                        It freed up so much of my time
                                                                                        as we are a family of seven.
                                                                                        <strong>I found more time to be
                                                                                            with my kids and doing other
                                                                                            things.</strong> It was
                                                                                        amazing. I was hooked. </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="swiper-pagination"></div>
                                                                    <div
                                                                        class="elementor-swiper-button elementor-swiper-button-prev">
                                                                        <i class="eicon-chevron-left"
                                                                            aria-hidden="true"></i>
                                                                        <span
                                                                            class="elementor-screen-only">Previous</span>
                                                                    </div>
                                                                    <div
                                                                        class="elementor-swiper-button elementor-swiper-button-next">
                                                                        <i class="eicon-chevron-right"
                                                                            aria-hidden="true"></i>
                                                                        <span class="elementor-screen-only">Next</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>