<section
                                class="elementor-element elementor-element-7c9c691 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                data-id="7c9c691" data-element_type="section"
                                data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;,&quot;background_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;}}">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-row">
                                        <div class="elementor-element elementor-element-de48004 elementor-column elementor-col-100 elementor-top-column"
                                            data-id="de48004" data-element_type="column">
                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-96c6f41 elementor-widget elementor-widget-heading"
                                                        data-id="96c6f41" data-element_type="widget"
                                                        data-widget_type="heading.default">
                                                        <div class="elementor-widget-container">
                                                            <h2 class="elementor-heading-title elementor-size-default">
                                                                Why Cloto</h2>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-e3c9e04 elementor-widget elementor-widget-text-editor"
                                                        data-id="e3c9e04" data-element_type="widget"
                                                        data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p>Do you dream of not having to lug hampers up and down
                                                                    the stairs? Or not having to spend hours washing and
                                                                    drying load after load? Do you dream of the laundry
                                                                    folding itself instead of piling up on the bed? Do
                                                                    you wish your comforters could fit in your home
                                                                    washer? Wish you didn&#8217;t have to lug your stuff
                                                                    to the laundromat? Would you like an easy way to
                                                                    reduce waste and go green? If you answered
                                                                    &#8216;yes&#8217; to any of the questions above,
                                                                    then you know why Cloto is perfect for you.
                                                                    <strong>Reclaim your time for the more important
                                                                        things in life &#8211; a life unhampered with
                                                                        Cloto.</strong></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <section
                                                        class="elementor-element elementor-element-f344c89 elementor-section-full_width elementor-section-content-middle elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                                        data-id="f344c89" data-element_type="section"
                                                        data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;}}">
                                                        <div class="elementor-container elementor-column-gap-no">
                                                            <div class="elementor-row">
                                                                <div class="elementor-element elementor-element-3fe3989 elementor-column elementor-col-50 elementor-inner-column"
                                                                    data-id="3fe3989" data-element_type="column"
                                                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                                    <div
                                                                        class="elementor-column-wrap  elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div class="elementor-element elementor-element-b7b2ea0 elementor-invisible elementor-widget elementor-widget-image"
                                                                                data-id="b7b2ea0"
                                                                                data-element_type="widget"
                                                                                data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}"
                                                                                data-widget_type="image.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="elementor-image">
                                                                                        <img width="1024" height="684"
                                                                                            src='{{"/img/Bonding-at-home-1024x684.jpg" | relURL }}'
                                                                                            class="attachment-large size-large"
                                                                                            alt=""
                                                                                            srcset='{{"/img/Bonding-at-home-1024x684.jpg" | relURL }} 1024w,
                                                                                             {{"/img/Bonding-at-home-300x200.jpg" | relURL }} 300w,
                                                                                              {{"/img/Bonding-at-home-768x513.jpg" | relURL }} 768w,
                                                                                            {{"/img/Bonding-at-home.jpg" | relURL }} 1200w'
                                                                                            sizes="(max-width: 1024px) 100vw, 1024px" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-d101cad overlay-column elementor-column elementor-col-50 elementor-inner-column"
                                                                    data-id="d101cad" data-element_type="column"
                                                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                                    <div
                                                                        class="elementor-column-wrap  elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div class="elementor-element elementor-element-851acf6 overlay-box elementor-invisible elementor-widget elementor-widget-text-editor"
                                                                                data-id="851acf6"
                                                                                data-element_type="widget"
                                                                                data-settings="{&quot;parallax_element_enable&quot;:&quot;yes&quot;,&quot;parallax_element_disable_on&quot;:&quot;tablet&quot;,&quot;parallax_element_speed_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:0.1,&quot;sizes&quot;:[]},&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;parallax_element_type&quot;:&quot;scroll&quot;,&quot;parallax_element_relative&quot;:&quot;middle&quot;,&quot;parallax_element_speed&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:0.15,&quot;sizes&quot;:[]},&quot;parallax_element_speed_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}"
                                                                                data-widget_type="text-editor.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div
                                                                                        class="elementor-text-editor elementor-clearfix">
                                                                                        <h3>Save Time</h3>
                                                                                        <p>The average household spends
                                                                                            nearly 20 hours a month
                                                                                            doing laundry. Choose
                                                                                            <strong>life over
                                                                                                laundry</strong> and let
                                                                                            us lighten your load!​</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <section
                                                        class="elementor-element elementor-element-270f05e elementor-section-full_width elementor-section-content-middle elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                                        data-id="270f05e" data-element_type="section"
                                                        data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_image&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_tablet&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;},&quot;background_image_mobile&quot;:{&quot;url&quot;:&quot;&quot;,&quot;id&quot;:&quot;&quot;}}">
                                                        <div class="elementor-container elementor-column-gap-no">
                                                            <div class="elementor-row">
                                                                <div class="elementor-element elementor-element-8cfb3a7 overlay-column elementor-column elementor-col-50 elementor-inner-column"
                                                                    data-id="8cfb3a7" data-element_type="column"
                                                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                                    <div
                                                                        class="elementor-column-wrap  elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div class="elementor-element elementor-element-5daf24e overlay-box elementor-invisible elementor-widget elementor-widget-text-editor"
                                                                                data-id="5daf24e"
                                                                                data-element_type="widget"
                                                                                data-settings="{&quot;parallax_element_enable&quot;:&quot;yes&quot;,&quot;parallax_element_disable_on&quot;:&quot;tablet&quot;,&quot;parallax_element_speed&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:0.17,&quot;sizes&quot;:[]},&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;parallax_element_type&quot;:&quot;scroll&quot;,&quot;parallax_element_relative&quot;:&quot;middle&quot;,&quot;parallax_element_speed_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;parallax_element_speed_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}"
                                                                                data-widget_type="text-editor.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div
                                                                                        class="elementor-text-editor elementor-clearfix">
                                                                                        <h3>Help the Environment</h3>
                                                                                        <p>We make it easy to go green
                                                                                            by using eco-friendly
                                                                                            solutions free of all the
                                                                                            harsh ingredients. No
                                                                                            sulphates, phosphates,
                                                                                            optical brighteners, or
                                                                                            scents &#8211; <strong>just
                                                                                                clean clothes</strong>.
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-5eb2147 elementor-column elementor-col-50 elementor-inner-column"
                                                                    data-id="5eb2147" data-element_type="column">
                                                                    <div
                                                                        class="elementor-column-wrap  elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div class="elementor-element elementor-element-045b3b1 elementor-invisible elementor-widget elementor-widget-image"
                                                                                data-id="045b3b1"
                                                                                data-element_type="widget"
                                                                                data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;}"
                                                                                data-widget_type="image.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="elementor-image">
                                                                                        <img width="1024" height="684"
                                                                                            src="{{"/img/Happy-little-kids-hiking-1024x684.jpg" | relURL }}"
                                                                                            class="attachment-large size-large"
                                                                                            alt=""
                                                                                            srcset='{{"/img/Happy-little-kids-hiking-1024x684.jpg" | relURL }} 1024w,
                                                                                             {{"/img/Happy-little-kids-hiking-300x200.jpg" | relURL }} 300w,
                                                                                              {{"/img/Happy-little-kids-hiking-768x513.jpg" | relURL }} 768w,
                                                                                               {{"/img/Happy-little-kids-hiking.jpg" | relURL }} 1200w'
                                                                                            sizes="(max-width: 1024px) 100vw, 1024px" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>