@import url('https://fonts.googleapis.com/css?family=Bangers:regular|');

.gform_fields > li {
  list-style: none;
  margin-bottom: 1em;
}
.gform_fields {
  margin-left: 0;
  padding-top: 0px;
}
.ginput_complex .ginput_right label {
  display: block;
  float: none;
  font-size: 0.625em;
}
.gfield_contains_required .gfield_label {
  font-weight: 400;
}
.gfield_label .gfield_required {
  color: #ff0000;
}
.elementor .elementor-button,
button,
input[type='submit'],
.pp-gravity-form .gform_footer input[type=submit] {
  background-color: #1E4B6D;
  font-weight: 500;
  border-radius: 0;
  color: #fff;
  border: none;
  text-decoration: none;
}
.elementor-element.elementor-button-info .elementor-button:hover {
  background-color: #91cbfb;
}
.elementor .elementor-nav-menu li a {
  text-decoration: none;
}
#site-header {
  border-bottom: none !important;
}
.ee-sticky-parent.elementor-section-wrap,
.ee-sticky-parent.elementor-widget-wrap {
  padding-bottom: 0px !important;
}
.gfield input[type=text].large {
  width: 100%;
}
.cta-price .cta-price-dollar {
  font-family: Bangers;
}
.elementor-element.elementor-button-info .elementor-button {
  background-color: #62bafd;
  color: #000;
}
.elementor-element.elementor-button-danger .elementor-button {
  background-color: #feab21;
  color: #000;
}
.elementor a.ee-button-wrapper {
  text-decoration: none;
}
.elementor-element.elementor-button-danger .elementor-button:hover {
  background-color: #ffc507;
}
.elementor-popup-modal form {
  text-align: center;
}
.elementor-popup-modal .gform_fields > li {
  margin-bottom: 2.5em;
}
.elementor-popup-modal .gform_wrapper input[type=submit] {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 0.875em;
}
.footer-store-button {
  display: inline-block;
  text-align: right;
  float: right;
  margin-left: 1em;
}
.top-bar .elementor-inline-svg-wrapper .elementor-inline-svg {
  margin-left: 1em;
}
.top-bar .elementor-element {
  padding-left: 0.5em;
  align-self: center;
}
.top-bar .elementor-inline-svg-wrapper .elementor-inline-svg > svg,
.top-bar .elementor-inline-svg-wrapper {
  height: 40px;
  width: auto;
}
.main-cta .elementor-inline-svg-wrapper .elementor-inline-svg > svg,
.main-cta .elementor-inline-svg-wrapper {
  height: 60px;
  width: auto;
}
.footer-store-column .elementor-inline-svg-wrapper .elementor-inline-svg > svg {
  height: 40px;
  width: auto;
}
.footer-store-column .elementor-widget-wrap {
  justify-content: flex-end;
}
.footer-store-column .elementor-element {
  padding-left: 0.5em;
}
.main-cta .elementor-widget-inline-svg {
  padding-right: 0.5em;
  margin-bottom: 0.5em;
}
.elementor .ee-sticky .elementor-image img {
  height: 50px !important;
  width: auto !important;
}
.ezfc-theme-slick {
  font-family: Roboto!important;
}
#main #content-wrap {
  display: flex;
}
.ezfc-theme-slick .ezfc-element-option-has-image .ezfc-element-radio-input {
  display: none !important;
}
.ezfc-image-selection-style-default .ezfc-element-option-has-image img {
  opacity: 1 !important;
  width: 1.5em;
  height: 1.5em;
}
.ezfc-element-option-has-image {
  padding: 1em !important;
  margin-left: 15px;
  margin-right: 15px;
}
.elementor .elementor-element-a9404d2 .elementor-text-editor p {
  font-weight: 600;
  font-variant: normal;
  font-style: normal;
  font-size: 1.2em;
  flex-grow: 2;
  text-align: left;
  align-self: center;
}
input.ezfc-element {
  flex-basis: 1em;
  flex-grow: 1;
  width: auto;
  min-width: 1em;
  max-width: 3em;
  font-size: 3em;
}
input.ezfc-element {
  padding: 0 0.5em;
  width: 100%;
  max-width: 100%;
}
.roi-results input.ezfc-element {
  font-family: Bangers, cursive;
  font-size: 5vw;
  border-bottom: none;
  color: #feab21;
}
#ezfc-form-1 {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.125);
  padding: 1em;
  font-family: 'Woodford Bourne', sans-serif;
}
.ezfc-form-elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ezfc-theme-slick div.ezfc-element {
  flex-basis: 100%;
  flex-shrink: 0;
}
#ezfc_element-37 {
  flex-basis: 33%;
  border-right: 2px dashed lightgray;
}
#ezfc_element-38 {
  flex-basis: 33%;
  border-right: 2px dashed lightgray;
}
#ezfc-form-1 .ezfc-label {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.ezfc-theme-slick #ezfc-form-1 .ezfc-element-input,
.ezfc-theme-slick #ezfc-form-1 .ezfc-element-numbers,
.ezfc-theme-slick #ezfc-form-1 .ezfc-element-select,
.ezfc-theme-slick .ezfc-element-textarea {
  background-color: transparent;
  border-bottom: 2px solid #1E4B6D;
  border-radius: 0;
  color: #000;
  font-size: 18px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  line-height: 1;
}
.ezfc-theme-slick #ezfc-form-1 .ezfc-element-radio-input {
  margin-left: 0;
}
#ezfc_element-40 {
  flex-basis: 33%;
}
#ezfc_element-40,
#ezfc_element-39,
#ezfc_element-38 {
  padding-left: 1em;
  padding-right: 1em;
}
.ezfc-theme-slick #ezfc-form-1 #ezfc_element-38 .ezfc-element-input,
.ezfc-theme-slick #ezfc-form-1 #ezfc_element-40 .ezfc-element-input {
  border-bottom: none;
  font-size: 4.5vw;
  font-family: Bangers, cursive;
  color: #feab21;
}
.ezfc-theme-slick #ezfc-form-1 .ezfc-element-select {
  border-bottom: none;
}
#ezfc_element-38 .ezfc-label {
  text-align: center;
}
.ezfc-theme-slick #ezfc-form-1 #ezfc_element-38 .ezfc-element-input {
  text-align: center;
}
#ezfc_element-38 .ezfc-element-description-below-input {
  text-align: center;
  font-weight: 400;
  margin: 0;
  line-height: 0.5;
}
.ezfc-theme-slick #ezfc_element-44 div.ezfc-element {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  padding-bottom: 0;
}
#ezfc_element-44 .ezfc-group-elements {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  padding-bottom: 0;
}
#ezfc_element-45 {
  flex: 1em !important;
  flex-grow: 0;
}
#ezfc_element-43 {
  padding-bottom: 0;
  text-align: center;
}
#ezfc_element-43 h3 {
  margin-bottom: 0;
}
#ezfc_element-44 .ezfc-label {
  display: none;
}
#ezfc_element-44 {
  padding-bottom: 0.5em;
}
.elementor .elementor-element-a9404d2 .elementor-text-editor h3 {
  text-align: center;
  font-weight: 300;
}
.activity-result > * {
  text-align: center !important;
}
#ezfc_element-20-child,
#ezfc_element-54-child {
  color: #000000 !important;
  font-family: 'Woodford Bourne', sans-serif !important;
  font-size: 1.125em !important;
}
#ezfc_element-20 .ezfc-label,
#ezfc_element-54 .ezfc-label {
  display: none;
}
#ezfc_element-20 {
  padding-bottom: 0;
}
#gform_3 {
  text-align: left;
}
.pp-contact-form input[type=text] {
  width: 100%;
}
#input_3_2 {
  display: flex;
}
#input_3_2 .name_first {
  padding-right: 0.5em;
  flex-basis: 50%;
}
#input_3_2 .name_last {
  padding-left: 0.5em;
  flex-basis: 50%;
}
#gform_wrapper_3 .gform_footer {
  text-align: center;
}
.side-roi #ezfc_element-37 {
  flex-basis: 100%;
  border-right: none;
}
.side-roi #ezfc_element-37 .ezfc-group-elements {
  display: flex;
}
.side-roi #ezfc_element-12 {
  flex-basis: 50%;
}
.side-roi #ezfc_element-1 {
  flex-basis: 50%;
}
.side-roi #ezfc_element-38 {
  flex-basis: 75%;
  border-right: none;
  padding-left: 1em;
  padding-right: 1em;
  margin: auto;
}
.side-roi #ezfc_element-40 {
  flex-basis: 75%;
  border-right: none;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto;
}
.side-roi .ezfc-theme-slick #ezfc-form-1 #ezfc_element-38 .ezfc-element-input,
.side-roi .ezfc-theme-slick #ezfc-form-1 #ezfc_element-40 .ezfc-element-input {
  font-size: 4em;
}
.side-roi #ezfc_element-35,
.side-roi #ezfc_element-42 {
  text-align: center;
}
.side-roi #ezfc_element-20 {
  padding-top: 1em;
  border-top: 2px dashed lightgray;
}
.side-roi #ezfc_element-42 {
  padding-bottom: 1em;
  border-bottom: 2px dashed lightgray;
}
.elementor-element.elementor-button-success .elementor-button {
  background-color: #88ec73;
  color: #000;
}
.image-list .elementor-image-box-img {
  height: 1em;
  width: 1em !important;
}
.image-list .elementor-image-box-img img {
  height: 1em;
}
.image-list .elementor-image-box-description {
  line-height: 1.25;
}
/* 0 */
@media screen and (max-width: 1024px) {
  #ezfc_element-37 {
    flex-basis: 100%;
    border-right: none;
  }
  #ezfc_element-38 {
    flex-basis: 50%;
  }
  #ezfc_element-40 {
    flex-basis: 50%;
  }
}
/* 1 */
@media screen and (max-width: 768px) {
  .ezfc-theme-slick #ezfc-form-1 #ezfc_element-38 .ezfc-element-input,
  .ezfc-theme-slick #ezfc-form-1 #ezfc_element-40 .ezfc-element-input {
    font-size: 7.5vw;
  }
}
/* 2 */
@media screen and (max-width: 670px) {
  .elementor-section.elementor-section-items-middle.homepage-hero .elementor-container {
    align-items: flex-start;
    padding-top: 2em;
  }
  #ezfc_element-38 {
    flex-basis: 100%;
    border-right: none;
    border-bottom: 1px dashed lightgray;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
  #ezfc_element-40 {
    flex-basis: 100%;
  }
  .image-list .elementor-image-box-img {
    height: auto;
    width: 2em !important;
  }
  .image-list .elementor-image-box-img img {
    height: auto;
    width: 2em;
    display: block;
  }
  .image-list .elementor-image-box-description {
    line-height: 1.25;
  }
  .ezfc-theme-slick #ezfc-form-1 #ezfc_element-38 .ezfc-element-input,
  .ezfc-theme-slick #ezfc-form-1 #ezfc_element-40 .ezfc-element-input {
    font-size: 10vw;
  }
  #ezfc_element-20 .ezfc-label,
  #ezfc_element-54 .ezfc-label {
    font-size: 0.875em !important;
  }
  .side-roi #ezfc_element-38 {
    flex-basis: 100%;
  }
  .side-roi #ezfc_element-40 {
    flex-basis: 100%;
  }
  .side-roi .ezfc-theme-slick #ezfc-form-1 #ezfc_element-38 .ezfc-element-input,
  .side-roi .ezfc-theme-slick #ezfc-form-1 #ezfc_element-40 .ezfc-element-input {
    font-size: 14vw;
  }
  #ezfc_element-20-child,
  #ezfc_element-54-child {
    font-size: 0.875em !important;
  }
}
/* 3 */
@media screen and (max-width: 568px) {
  .elementor a.ee-button-wrapper {
    max-width: 14em;
  }
  .ee-button.ee-size-lg .ee-button-content-wrapper {
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }
  .elementor-382 .ee-button.ee-size-lg {
    font-size: 0.875em;
  }
}
/* 4 */
@media screen and (max-width: 375px) {
  #input_3_2 .name_last {
    flex-basis: 100%;
    padding-left: 0;
  }
  #input_3_2 {
    flex-wrap: wrap;
  }
  #input_3_2 .name_first {
    flex-basis: 100%;
    padding-right: 0;
  }
  .side-roi #ezfc_element-12 {
    flex-basis: 100%;
  }
  .side-roi #ezfc_element-1 {
    flex-basis: 100%;
  }
  .side-roi #ezfc_element-37 .ezfc-group-elements {
    flex-wrap: wrap;
  }
  #ezfc_element-40 {
    padding-left: 0;
    padding-right: 0;
  }
}
/* 5 */
@media screen and (max-width: 320px) {
  .elementor a.ee-button-wrapper {
    font-size: 0.875em;
  }
  .elementor-382 .ee-button.ee-size-lg {
    font-size: 0.875em;
  }
}
