.elementor-410 .elementor-element.elementor-element-474dae6a>.elementor-container {
    min-height: 88vh;
}

.elementor-410 .elementor-element.elementor-element-474dae6a>.elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-410 .elementor-element.elementor-element-6322bef0 {
    text-align: center;
}

.elementor-410 .elementor-element.elementor-element-6322bef0.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.elementor-410 .elementor-element.elementor-element-6322bef0 .elementor-heading-title {
    font-size: 36px;
}

.elementor-410 .elementor-element.elementor-element-f5fc47c {
    text-align: center;
}

.elementor-410 .elementor-element.elementor-element-f5fc47c.elementor-widget-heading .elementor-heading-title {
    color: #8ce179;
}

.elementor-410 .elementor-element.elementor-element-f5fc47c .elementor-heading-title {
    font-family: "Bangers", Sans-serif;
    font-size: 60px;
    font-weight: normal;
}

.elementor-410 .elementor-element.elementor-element-75dc05f0>.elementor-container {
    max-width: 500px;
}

.elementor-410 .elementor-element.elementor-element-75dc05f0 {
    padding: 0em 0em 0em 0em;
}

.elementor-410 .elementor-element.elementor-element-09a0b7f {
    text-align: center;
}

.elementor-410 .elementor-element.elementor-element-09a0b7f.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.elementor-410 .elementor-element.elementor-element-09a0b7f .elementor-heading-title {
    font-size: 2.2em;
    line-height: 1.5em;
}

.elementor-410 .elementor-element.elementor-element-09a0b7f>.elementor-widget-container {
    padding: 0em 0em 3em 0em;
}

.elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .validation_message {
    display: block !important;
}

.elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .validation_error {
    display: block !important;
}

.elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .gfield label {
    color: #ffffff;
    font-size: 1.5em;
}

.elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .gfield textarea,
.elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .gfield select {
    background-color: #f9f9f9;
}

.elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .gfield textarea {
    padding: 10px 10px 10px 10px;
}

.elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .gfield.gsection {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .gform_footer input[type="submit"],
.elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .gform_page_footer input[type="submit"] {
    background-color: #8ce179;
    color: #000000;
}

.elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.elementor-410 .elementor-element.elementor-element-595fdd9 .gform_wrapper li.gfield_error textarea {
    border-width: 1px;
}

#elementor-popup-modal-410 .dialog-message {
    width: 100vw;
    height: 100vh;
    align-items: center;
}

#elementor-popup-modal-410 {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: rgba(0, 0, 0, .8);
}

#elementor-popup-modal-410 .dialog-close-button {
    display: block;
    font-size: 32px;
}

#elementor-popup-modal-410 .dialog-widget-content {
    background-color: rgba(31, 76, 109, 0.6);
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

#elementor-popup-modal-410 .dialog-close-button i {
    color: #ffffff;
}

@media(max-width:1024px) {
    .elementor-410 .elementor-element.elementor-element-474dae6a>.elementor-container {
        min-height: 91vh;
    }

    .elementor-410 .elementor-element.elementor-element-474dae6a>.elementor-container:after {
        content: "";
        min-height: inherit;
    }

    .elementor-410 .elementor-element.elementor-element-6322bef0 .elementor-heading-title {
        font-size: 54px;
    }

    .elementor-410 .elementor-element.elementor-element-f5fc47c .elementor-heading-title {
        font-size: 54px;
    }
}

@media(max-width:767px) {
    .elementor-410 .elementor-element.elementor-element-474dae6a>.elementor-container {
        min-height: 94vh;
    }

    .elementor-410 .elementor-element.elementor-element-474dae6a>.elementor-container:after {
        content: "";
        min-height: inherit;
    }

    .elementor-410 .elementor-element.elementor-element-6322bef0 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-410 .elementor-element.elementor-element-f5fc47c .elementor-heading-title {
        font-size: 24px;
    }

    .elementor-410 .elementor-element.elementor-element-75dc05f0 {
        padding: 0em 0em 0em 0em;
    }

    .elementor-410 .elementor-element.elementor-element-5d8f7bea>.elementor-element-populated {
        padding: 0em 0.5em 0em 0.5em;
    }

    .elementor-410 .elementor-element.elementor-element-09a0b7f .elementor-heading-title {
        font-size: 1.3em;
    }

    .elementor-410 .elementor-element.elementor-element-09a0b7f>.elementor-widget-container {
        padding: 0em 0em 0em 0em;
    }

    .elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .gfield label {
        font-size: 14px;
    }

    .elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    .elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .gfield textarea {
        padding: 0.5em -1em 0.5em 1em;
    }

    .elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    .elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .gfield textarea,
    .elementor-410 .elementor-element.elementor-element-595fdd9 .pp-gravity-form .gfield select {
        font-size: 12px;
        line-height: 1.25em;
    }

    #elementor-popup-modal-410 {
        align-items: flex-start;
    }
}